.course-card
  %a{:href => '#'}
    .course-info
      .avatar 
        %img{:src => "https://lh3.googleusercontent.com/6DxsL0UPJk485fTe-w3ZB6_C0fiHNtzCW9HHsLnuVmUFddE5te-dyizXT5LgcksB3V9oC12kumsi9xeuC7yf7FSPKgodLuSB4j_iHAI36eNLCfTEW4uI2TmNUbhgbwHyhuLkCbpbDIjO5FT7mvOdXoW7rnRvkdLieO_gZoeBR0yEw5EWkilg75HVhvmE5bCBZp7plVwhJ0UUhK9KDoemrEoX1uJNtzmg7ZK4wP14idxV0Fyy3E4mWldi9RCm_b85KiT_KJHXtbp9WWkh4Z8s9i6xvr2nNKEuu752Qq_yNk2cwGwHMrz7YHyc_8TxvsLtyJaQ3pQ_06hmXG7enX11fAk4evuG9BAFQaV1nv4bU3VMaSfjIt9HpJ6KEMp0Gb01tYY82SHRhHfpRctBt4Qb4CLUGj7ajxPk2l-O7Y8Px_YrYG8N3S_1isoYZzFESCAishAXjFX27FGkzPXFdb1okGsPV4Cja6PFPr2eUG1c6PgeqoeoO-Ny5kLqxQ9Nvo38mOVY7UATUBo_5UlAhv4_T4o=s480-no"}
      %span 141 bài giảng
      %span 1410 giờ video
    .course-image.no-margin
      = image_tag 'course-image.png'
    .course-wishlist
      %svg{:height => "18", :preserveAspectRatio => "xMidYMid", :viewBox => "0 0 20 18", :width => "20", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %defs
          :css
            .heart {
              fill: #727272;
              stroke: #fff;
              stroke-linejoin: round;
              stroke-width: 1px;
              fill-rule: evenodd;
            }
            .heart:hover {
              fill: #ff4444

            }
        %path.heart{:d => "M10.000,17.000 L8.740,15.783 C4.060,11.783 1.000,9.087 1.000,5.783 C1.000,3.087 3.160,1.000 5.950,1.000 C7.480,1.000 9.010,1.696 10.000,2.826 C10.990,1.696 12.520,1.000 14.050,1.000 C16.840,1.000 19.000,3.087 19.000,5.783 C19.000,9.087 15.940,11.783 11.260,15.783 L10.000,17.000 Z"}
      .wishlist-tooltip
        .wishlist-tooltip-bg
          %i.fa.fa-sort-asc.wishlist-tooltip-arrow
        .wishlist-tooltip-inner
          %span Ưa thích
    .course-card-content
      .row.ellipsis-2lines.course-title iOS7 Programming: Fast Start!
      .row.ellipsis-2lines.course-description Sam Fitzgerald, Network Expert 20+ years- CCIE #19367
      .row.no-margin.course-rating
        .rating-container
          %ul
            %li
              %i.fa.fa-star.star.rated{:val => "1"}
            %li
              %i.fa.fa-star.star.rated{:val => "2"}
            %li
              %i.fa.fa-star.star.rated{:val => "3"}
            %li
              %i.fa.fa-star.star.rated{:val => "4"}
            %li
              %i.fa.fa-star.star.rated{:val => "5"}
          %span.course-people-rating (19)
      // an hien tuy theo co promotion hay khong
      / .row.no-margin.course-price 141.000 VND
      .row.promotion-price
        %span.promotion-badge
          1,000,000 VND
        %span.old-price
          3,000,000 VND