.landingpage-card
  %a{:href => '#'}
    .course-image.no-margin
      = image_tag 'course-image.png'
    .landingpage-card-content
      %span.ellipsis-2lines.course-title Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing 
      %span.no-margin.ellipsis-1lines.course-author ThanhNguyễn
      .row.no-margin.landingpage-card-content-bottom
        .landing-card-users
          %i.fa.fa-users
          %span 14.1K học viên
        %span.course-price 141.000 VND