.row.footer
  .container
    %ul.footer-links-one
      %li
        %a{:href => "#"} Giới thiệu
      %li
        %a{:href => "#"} Liên lạc
      %li
        %a{:href => "#"} Hỗ trợ
    %ul.hidden-xs.footer-links-two
      %li
        %a{:href => "#"} Copyright © Pedia 2015
      %li
        %a{:href => "#"} Điều khoản sử dụng 
      %li
        %a{:href => "#"} Chính sách bảo mật