.row.footer
  .container
    %ul.footer-links-one
      %li
        %a{:href => "https://www.facebook.com/Pedia.vn"} Facebook
      %li
        %a{:href => "https://www.youtube.com/channel/UCWgSoYvcbHG620xzYZjnINA"} Youtube
      %li
        %a{:href => "http://blog.pedia.vn"} Blog
      %li{:style => "float: right"}
        %a HOTLINE CSKH: 0968146522


    / %ul.footer-links-one
    /   %li
    /     %a{:href => "#"} Giới thiệu
    /   %li
    /     %a{:href => "#"} Liên lạc
    /   %li
    /     %a{:href => "#"} Hỗ trợ
    / %ul.hidden-xs.footer-links-two
    /   %li
    /     %a{:href => ""} Copyright © Pedia 2015
    /   %li
    /     %a{:href => "#"} Điều khoản sử dụng 
    /   %li
    /     %a{:href => "#"} Chính sách bảo mật

    / Bỏ branding TOPICA
    / %ul.footer-links-one
    /   %li= image_tag "Logo-footer-1.svg", :style => "width: 181px; height: 78px"
    /   %li.hidden-xs.hidden-sm= image_tag "Logo-footer-2.png"
    /   %li.hidden-xs.hidden-sm= image_tag "Logo-footer-3.png"
    /   %li.hidden-xs.hidden-sm= image_tag "Logo-footer-4.png"
    /   %li.hidden-xs.hidden-sm= image_tag "topica-pedia.png"
