.col-xs-12.col-sm-8.col-md-6.col-lg-4.no-padding.rating-popup
  .row.rating-popup-title
    %span Đánh giá khoá học
    %i.fa.fa-times.rating-popup-close
  .row.rating-popup-main
    .row.no-margin 
      %span Đánh giá : 
      %ul.no-padding.rating
        %li
          %i.fa.fa-star.star.rated{:val => "1"}
        %li
          %i.fa.fa-star.star.rated{:val => "2"}
        %li
          %i.fa.fa-star.star.rated{:val => "3"}
        %li
          %i.fa.fa-star.star.rated{:val => "4"}
        %li
          %i.fa.fa-star.star{:val => "5"}
    .row.no-margin
      %input{:type => "hidden", :name => "star", :value => "5"}
      %input.form-control#rating-title{:placeholder => "Tiêu đề"}
      %textarea.form-control#rating-content{:placeholder => "Nội dung"}
      %button.btn.btn-primary#rating-submit Đánh giá