.search-box
  %form{:method => "GET", :action => "/courses/search"}
    %input.form-control.search-input{:type => "text", :name => "q", :placeholder => "Tìm kiếm khóa học",:style => 'color:white'}
    %button.btn-search{:type => "submit"}
      %i.fa.fa-search