%ul#side-nav.side-nav
  %li.side-nav-header
    %a.waves-effect.waves-light.btn{:href => '/courses'}
      %i.large.material-icons.left menu
      Danh sách khoá học
  - if current_user
    %li.bold
      %a.waves-effect.waves-teal{:href => '/home/my-course/learning'} Khoá học của tôi
  %li.no-padding.no-hover-effect
    %ul.collapsible.collapsible-accordion
      - @all_categories.each do |category|
        %li.bold
          %a.collapsible-header.waves-effect.waves-teal{:href => '/courses/' + category[0]}
            = category[1]
          .collapsible-body
            %ul
              - category[2].each do |sub_category|
                %li
                  %a{:href => '/courses/' + sub_category[0]}
                    = sub_category[1]
