#register-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title Đăng ký
      .modal-body
        .modal-body-left
          %p.hidden-xs.hidden-sm Đăng ký với tài khoản mạng xã hội
          %a.btn.btn-primary.btn-social-login.btn-facebook{:href => root_url + 'users/auth/facebook'}
            %i.left.fa.fa-facebook
            %span.left Đăng ký bằng Facebook
          %a.btn.btn-primary.btn-social-login.btn-google{:href => root_url + 'users/auth/google_oauth2'}
            %i.left.fa.fa-google-plus
            %span.left Đăng ký bằng Google+
        .modal-body-right
          %p.hidden-xs.hidden-sm Đăng ký bằng email
          %form{:method => "post",:action => "/users/sign_in"}
            .form-control-wrapper
              %input#name.form-control{:type => 'text', :required => 'true', :placeholder => 'Tên đầy đủ', :name => "user[name]"}
            .form-control-wrapper
              %input#email.form-control{:type => 'email', :name => "user[email]", :required => 'true', :placeholder => 'Email'}
            .form-control-wrapper 
              %input#password.form-control{:type => 'password', :name => "user[password]", :required => 'true', :placeholder => 'Mật khẩu'}
            = hidden_field_tag :authenticity_token, form_authenticity_token
            %input.btn.btn-primary.btn-expanded.btn-login-submit{:type => 'submit', :value => 'Đăng ký'}
        %p.forgot-password-link
          %a.btn-link{:href => "#"} Quên mật khẩu?
      .modal-footer
        Đã có tài khoản?
        %a.btn-link{"data-dismiss" => "modal", "data-toggle" => "modal", "data-target" => "#login-modal"} Đăng nhập