%header
  = render :partial => 'layouts/header'
.row.sign-up
  .col.s2 &nbsp;
  .col.s8
    .modal-content
      .row
        .col.s12
          .modal-title Đăng ký và bắt đầu học ngay!
      .row
        .col.s6.no-padding
          .row
            .title-register Đăng ký với 1 click!
          .row
            .col.s12.no-padding
              %a.btn.btn-large.btn-social-login.btn-facebook.waves-effect{:href => root_url + 'users/auth/facebook'}
                %i.left.fa.fa-facebook
                %span.left Đăng nhập bằng Facebook
          .row
            .col.s12.no-padding
              %a.btn.btn-large.btn-social-login.btn-google.waves-effect{:href => root_url + 'users/auth/google_oauth2'}
                %i.left.fa.fa-google-plus
                %span.left Đăng nhập bằng Google+
        %form.col.s6.devise-register{:style => 'border-left: 1px solid #e6e6e6;', :method => "post",:action => "/users"}
          .row
            .col.s12{:style => 'font-size: 18px;'} Đăng ký bằng email
          .row.input-field
            .col.s12
              %input#name.validate{:type => 'text', :required => '', :placeholder => 'Tên đầy đủ'}
          .row.input-field
            .col.s12
              %input#email.validate{:type => 'email', :name => "user[email]", :autofocus => "autofocus", :required => '', :placeholder => 'Email'}
          .row.input-field
            .col.s12
              %input#password.validate{:type => 'password', :name => "user[password]", :required => '', :placeholder => 'Mật khẩu'}
          .row{:style => 'margin: 20px 0 0'}
            .col.s12
              %input.btn.btn-large.deep-orange.expanded{:type => 'submit', :name => "commit", :value => 'Đăng ký'}
      .row
        .col.s12{:style => 'text-align: center;'}
          Đã có tài khoản?
          = hidden_field_tag :authenticity_token, form_authenticity_token
          %a.modal-action.modal-close.modal-trigger{:href => '#modal-login'} Đăng nhập
  .col.s2
