.detail {
  margin-bottom: 70px;
  .buy-button,.learning-button {
    background-color: #338abc !important;
  }
  .buy-button:hover,.learning-button:hover{
    background: #0fb2fc !important;
  }
  .detail-course-title {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    margin: 20px 0 5px 0 !important;
    &-big {
      font-size: 30px;
      margin: 20px 0 5px 0 !important;
    }
  }
  .menu-fixed {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 1px  #888888;
    a {
      color: #333333;
      font-size: 18px;
    }
    .container {
      position: relative;
      height: 60px;
    }
    .nav-pills {
      position: absolute;
      bottom: 0px;
    }
    .nav-pills li.active {
      border-bottom: 4px solid #338abc;
      a {
        color: #333333;
        background-color: transparent;

      }
    } 
    .nav-pills a:hover {
      background-color: transparent;
    }
    &-right{
      list-style: none;
      position: absolute;
      right: 0px;
      bottom: 10px;
      margin: 0px 23px 0px 0px;
      padding: 0px;
      li {
        float: left;
        margin-right: 20px;
        .btn {
          background-color: #338abc;
        }
        h3 {
          font-size: 20px;
        }
        a, h3 {
          line-height: 40px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin-bottom: 0px !important;
        }
      }
    }
  }
  .sub_title {
    line-height: 20px;
  }
  .course {
    &-rating {
      margin: 10px 0 !important;
      &-point {
        .fa {
          color: #727272;
          font-size: 20px;
          width: 20px;
          &.is-rated {
            color: #ffbb33;
          }
        }
      }
    }
    &-price {
      font-weight: bold;
      color: #44ba31;
      margin: 10px 0 !important;
      &.free {
        color: #ff4444 !important;
      }
    }
  }
  .video-container {
    margin: 10px 0;
  }
  .buy-button, .learning-button {
    width: 100%;
    font-weight: 400;
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
  }
  .pending-button {
    width: 100%;
    font-weight: 400;
    background-color: #ffbb33 !important;
    color: #fff !important;
  }
  .favorite-button {
    width: 100%;
    font-weight: 400;
    background-color: #727272 !important;
    color: #fff !important;
    text-transform: none !important;
    &.no-text {
      width: 65px !important;
      padding: 8px !important;
    }
  }
  .detail-list-info {
    h5 {
      margin-bottom: 0;
    }
  }
  .description {
    margin: 20px 0 25px 0 !important;
  }
  .curiculums {
    margin-bottom: 25px !important;
    .curiculum {
      .curiculum-title {
        margin-top: 20px !important;
        padding-bottom: 10px !important;
      }
      .curiculum-list {
        border-bottom: 1px solid #cccccc;
        .curiculum-content {
          margin: 10px 0px !important;
        }
      }
    }
  }
  .author {
    margin-bottom: 15px !important;
    .social-button {
      font-size: 24px;
    }
  }
  .rating {
    margin-bottom: 25px !important;
    .rating-text {
      font-size: 18px;
    }
    .rating-point {
      font-size: 60px;
      color: #ff4444;
    }
    .course-rating-people {
      font-size: 16px;
    }
    .progress {
      margin: 20px 0 !important;
      height: 6px;
      .progress-bar {
        background-color: #ffbb33 !important;
      }
    }
  }
  .discussion {
    margin: 20px 0 !important;
  }
  .related-box {
    background-color: #fff;
    border: 1px solid #cccccc;
    .related-content {
      padding: 20px 10px !important;
      .list-card {
        margin-bottom: 20px;
        border-bottom: 1px solid #cccccc;
      }
      .list-card:last-child{
        border-bottom: none;
      }
      img {
        width: 100%;
      }
    }
  }
}
.courses-select {
  z-index: -1;
  .top {
    background-color: #fff;
    .course-image {
      img {
        margin: 10px 0;
        width: 100%;
      }
    }
    .course-info {
      text-align: center;
      margin-bottom: 15px !important;
    }
    .learning-button {
      text-transform: none;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px !important;
    }
  }
}
