.header-320 {
  font-size: 24px;
  height: 55px;
  padding: 7px 10px 8px 10px;
  background-color: #ff5722;
  .header-container {
    margin: 0;
    height: 35px;
    .menu {
      height: 30px;
      .category {
        margin-right: 15px;
        padding: 0;
        height: 30px;
      }
      .search {
        margin-right: 50px;
        padding: 0;
        height: 30px;
      }
    }
    .logo {
      margin: 5px 0px 0 0;
      background-image: url('/assets/header/logo.png'); 
    }
    .ava {
      height: 40px;
    }    
  }
}
.search-panel-320 {
  height: 60px;
  background-color: #fff;
  margin-bottom: 5px;
  .search {
    color: #b6b6b6;
  }
}
.courses-320 {
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px;
  .course {
    background-color: #fff;
    line-height: 1.5rem;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6b6b6;
    display: block;
    width: 100%;
    .left-panel {
      padding: 0;
    }
    .right-panel {
      padding: 0 0 0 10px;
      .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      .author {
        font-size: 16px;
        margin: 0;
      }
      .price {
        font-size: 14px;
        font-weight: bold;
        color: #44ba31;
      }
    }
  }
}
.dropdown-profile-content-320 {
  min-width: 260px;
  max-height: 375px;
  background-color: #eee;
  z-index: 999;
  margin: 0;
  overflow-y: auto;
  position: absolute;
  top: 60px !important;
  left: 210px;
  opacity: 1;
  display: none;
  overflow: hidden;
  .user-info {
    padding: 20px;
    height: 120px;
    width: 100%;
    .avatar {
      height: 80px;
      width: 80px;
    }
    .user-name {
      font-size: 16px;
      font-weight: bold;
      color: #212121;
    }
  }
  .user-collection {
    width: 100%;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: relative;
    padding: 20px 20px 0 20px;
    .user-item {
      font-size: 16px;
      color: #212121;
      display: block;
      line-height: 16px;
      padding: 0 0 15px 0;
      margin: 0;
      &:hover {
        color: #ff5722;
      };
    } 
  }
  .logout {
    width: 100%;
    height: 50px;
    line-height: 0 !important;
    padding: 15px 20px 0 20px;
    .logout-icon {
      color: #727272;
      padding: 0;
    }
    .logout-text {
      font-size: 16px;
      color: #000;
      margin: 0;
      height: 50px;
    }
  }
}
.header-1280 {
  font-size: 24px;
  height: 70px;
  padding: 15px 85px 15px 30px;
  background-color: #ff5722;
  .header-container {
    height: 50px;
    margin: 0;
    .menu {
      height: 40px;
      .category {
        margin-right: 30px;
        padding: 0;
        height: 40px;
      }
      .logo {
        margin-right: 50px;
        padding: 0;
        height: 40px;
      }
    }
  }
}
.search-panel {
  height: 60px;
  background-color: #fff;
  margin-bottom: 5px;
  .search {
    color: #b6b6b6;
  }
}
.courses-1280 {
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px;
  .course {
    background-color: #fff;
    line-height: 1.5rem;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6b6b6;
    display: block;
    width: 100%;
    .left-panel {
      padding: 0;
    }
    .right-panel {
      padding: 0 0 0 10px;
      .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      .author {
        font-size: 16px;
        margin: 0;
      }
      .price {
        font-size: 14px;
        font-weight: bold;
        color: #44ba31;
      }
    }
  }
}
.dropdown-profile-content-1280 {
  min-width: 260px;
  max-height: 375px;
  background-color: #eee;
  z-index: 999;
  margin: 0;
  overflow-y: auto;
  position: absolute;
  top: 60px !important;
  left: 210px;
  opacity: 1;
  display: none;
  overflow: hidden;
  .user-info {
    padding: 20px;
    height: 120px;
    width: 100%;
    .avatar {
      height: 80px;
      width: 80px;
    }
    .user-name {
      font-size: 16px;
      font-weight: bold;
      color: #212121;
    }
  }
  .user-collection {
    width: 100%;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: relative;
    padding: 20px 20px 0 20px;
    .user-item {
      font-size: 16px;
      color: #212121;
      display: block;
      line-height: 16px;
      padding: 0 0 15px 0;
      margin: 0;
      &:hover {
        color: #ff5722;
      };
    } 
  }
  .logout {
    width: 100%;
    height: 50px;
    line-height: 0 !important;
    padding: 15px 20px 0 20px;
    .logout-icon {
      color: #727272;
      padding: 0;
    }
    .logout-text {
      font-size: 16px;
      color: #000;
      margin: 0;
      height: 50px;
    }
  }
}