.detail {
  margin-bottom: 70px;
  .layout-320{
    min-width: 320px;
  }
  .layout-480-up {
    min-width: 480px;
  }
  .buy-button,.learning-button {
    background-color: #338abc !important;
  }
  .buy-button:hover,.learning-button:hover{
    background: #0fb2fc !important;
  }
  .detail-course-title {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    margin: 20px 0 5px 0 !important;
    &-big {
      font-size: 30px;
      margin: 20px 0 5px 0 !important;
    }
  }
  .tele-sales {
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 240px;
    height: 35px;
    padding: 8px 10px;
    background-color: #e75050;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 999;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    .fa-play-circle {
      -webkit-transform:rotate(-90deg) ; 
      transform:rotate(-90deg);
      cursor: pointer;     
      margin-right: 5px;  
    }
  }
  .tele-sales-extend {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 240px;
    height: auto;
    z-index: 999;
    background-color: #fff;
    color: #212121;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    .tele-sales-top {
      background-color: #e75050;
      color: #fff;
      height: 35px;
      padding: 8px;
      font-size: 14px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
      .fa-play-circle {
        -webkit-transform:rotate(90deg) ; 
        transform:rotate(90deg); 
        margin-right: 5px;      
      }
    }
    .tele-sales-content {
      padding: 8px 10px;
      height: 200px;
      text-align: center;
      input {
        height: 40px;
        line-height: 50px;
      }
      h5 {
        line-height: 20px;
      }
      &.success {
        display: none;
      }
    }
    .tele-sales-bottom {
      padding: 8px 10px;
      color: #e75050;
    }
  }
  .menu-fixed {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 1px  #888888;
    a {
      color: #333333;
      font-size: 18px;
    }
    .container {
      position: relative;
      height: 60px;
    }
    .nav-pills {
      position: absolute;
      bottom: 0px;
    }
    .nav-pills li.active {
      border-bottom: 4px solid #338abc;
      a {
        color: #333333;
        background-color: transparent;

      }
    } 
    .nav-pills a:hover {
      background-color: transparent;
    }
    &-right{
      list-style: none;
      position: absolute;
      right: 0px;
      bottom: 10px;
      margin: 0px 23px 0px 0px;
      padding: 0px;
      li {
        float: left;
        margin-right: 20px;
        .btn {
          background-color: #338abc;
        }
        h3 {
          font-size: 20px;
        }
        a, h3 {
          line-height: 40px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin-bottom: 0px !important;
        }
      }
    }
  }
  .sub_title {
    line-height: 20px;
  }
  .course {
    &-rating {
      margin: 10px 0 !important;
      &-point {
        .fa {
          color: #727272;
          font-size: 20px;
          width: 20px;
          &.is-rated {
            color: #ffbb33;
          }
        }
      }
    }
    &-price-text {
      font-weight: bold;
      color: #e75050;
      font-size: 44px;
      margin: 10px 0 !important;
      &.free {
        color: #e75050;
      }
    }
  }
  .video-container {
    margin: 10px 0;
  }
  .buy-button, .learning-button {
    width: auto;
    height: 50px;
    font-size: 24px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: none;
  }
  .pending-button {
    width: auto;
    height: 50px;
    font-size: 24px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: none;
    background-color: #ffbb33 !important;
    color: #fff !important;
  }
  .wishlist-button {
    width: auto;
    height: 50px;
    padding: 12px 15px;
    font-weight: 400;
    background-color: #727272 !important;
    color: #fff !important;
    text-transform: none !important;
    &.wishlisted {
      background-color: #fff !important;
      color: #333 !important;
      border: 1px solid #ccc;
      .fa-heart {
        color: #d23837 !important;
      }
      &:hover{
        background: #353535;
        color: #fff;
      }
    }
    &.no-text {
      width: 65px !important;
      padding: 8px !important;
    }
  }
  .detail-list-info {
    h5 {
      margin-bottom: 0;
    }
  }
  .description {
    margin: 20px 0 25px 0 !important;
  }
  .short_description {
    width: 100%;
    line-height: 24px;
    height: 155px;
    overflow: hidden;
  }
  .long_description {
    width: 100%;
    height:auto;
  }
  .curiculums {
    margin-bottom: 25px !important;
    .curiculum {
      .curiculum-title {
        margin-top: 20px !important;
        padding-bottom: 10px !important;
      }
      .curiculum-list {
        border-bottom: 1px solid #cccccc;
        .curiculum-content {
          margin: 10px 0px !important;
        }
        .preview-button{
          margin: 0 0 0 10px;
          top: -2px;
          padding: 5px;
          font-size: 12px;
          width: 100px;
          height: 25px;
        }
      }
    }
  }
  .author {
    margin-bottom: 15px !important;
    .social-button {
      font-size: 24px;
    }
  }
  .rating {
    margin-bottom: 25px !important;
    .rating-text {
      font-size: 18px;
    }
    .rating-point {
      font-size: 60px;
      color: #ff4444;
    }
    .course-rating-people {
      font-size: 16px;
    }
    .progress {
      margin: 20px 0 !important;
      height: 6px;
      .progress-bar {
        background-color: #ffbb33 !important;
      }
    }
  }
  .discussion {
    margin: 20px 0 !important;
  }
  .related-box {
    background-color: #fff;
    border: 1px solid #cccccc;
    .related-content {
      padding: 20px 10px !important;
      .list-card {
        margin-bottom: 20px;
        border-bottom: 1px solid #cccccc;
      }
      .list-card:last-child{
        border-bottom: none;
      }
      img {
        width: 100%;
      }
    }
  }
}
.select {
  min-width: 320px;
  .select-header{
    padding-top:15px;
    padding-bottom:20px;
    background:white;    
    .select-button{
      background:#338abc;
      color:white;
      text-transform:none;
      line-height:34px;
    }
    .select-button:hover {
      background: #03a9f4;
    }
  }

  .select-courses{
    .category-title {
      font-size: 24px;
      padding: 15px 0;
    }
  }
    

  @media screen and (max-width: 767px) {
    .select-header{
      text-align: center;
      .select-header-content {
        padding-bottom: 20px;
      }
      .select-header-image {
        width: 270px;
        margin: 0 auto;
        padding-bottom: 15px;
      }
    }
    .select-courses {
      .category-title {
        padding: 10px 15px;
      }
      .list-courses-card {
        display: none;
      }
      .list-courses-list {
        display: block;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .select-courses {
      .list-courses-card {
        display: block;
        width: 510px;
        margin: auto;
      }
      .list-courses-list {
        display: none;
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .select-courses {
      .list-courses-card {
        display: block;
        width: 765px;
        margin: auto;
      }
      .list-courses-list {
        display: none;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .select-courses {
      .list-courses-card {
        display: block;
        width: 1020px;
        margin: auto;
      }
      .list-courses-list {
        display: none;
      }
    }
  }
  .course-card {
    display: inline-block;
    margin: 11px;
  }
  .list-card {
    margin-bottom: 15px;
  }
}
.lecture{
  .tab-content{
    #lecture-tab-download{
      margin-left: 10px;

      ul{
        margin-top:10px;
        padding-left: 25px;
        list-style-type: circle;
      }
      ul li{
        margin-top: 5px;
      }
    }
  }
}
@media (max-width: 320px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 300px;
      height: 168px;
      margin: 30px auto;
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 320px;
      height: 180px;
      margin: 30px auto;
    }
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 480px;
      height: 270px;
      margin: 30px auto;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 640px;
      height: 360px;
      margin: 30px auto;
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 640px;
      height: 360px;
      margin: 50px auto;
    }
  }
}
@media (min-width: 1200px) {
  #preview_lecture_modal{
    .modal-dialog {
      width: 640px;
      height: 360px;
      margin: 70px auto;
    }
  }
}
