.invalid-request{:style =>"padding: 50px;text-align: center"}
	%h5{:style => "font-size: 30px;color: #212121;font-weight: bold"} Địa chỉ không chính xác.Vui lòng kiểm tra email mới nhất hoặc đặt lại mật khẩu
