%header
  = render :partial => 'components/header/default'
  .list-course
    .first-course
      - if !@owned_wishlist.blank?
        - @owned_wishlist.each do |course|
          = render :partial => 'components/courses/course_card',:locals => {:course => course}