.row.green.payment-header
  .container-1140
    .row.no-margin
      .col.s6
        %h4.white-text Xác nhận thanh toán
        %p.white-text= @course.name
      .col.s6
        %h4.right.white-text= number_to_currency(price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ".", :format => "%n%u")