#support_success_modal.modal.fade{"aria-labelledby" => "support_success_modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#modal_label.modal-title Pedia Support
      .modal-body
        .support-online-payment-form-success Bạn đã gửi thông tin thành công. Pedia sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn sự quan tâm của bạn.
      .modal-footer
        %a.btn.btn-primary{:type => "button", :href => "/courses/#{@course.alias_name}/detail"} Quay lại