%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.payment
  .row
    .col.s12.no-padding
      .row.green.payment-header
        .col.s6
          %h4.white-text
            Xác nhận thanh toán
          %p.white-text
            Kỹ năng thuyết trình và nói trước công chúng
        .col.s6
          %h4.right.white-text
            300.000d
      .row.payment-content
        %p
          1. Lựa chọn hình thức thanh toán
      .row.payment-content
        .col.s12
          .row.courses.card-style.center-align
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/delivery'}
                .card-image.course-image
                  %i.material-icons.large shopping_cart
                  %h6
                    Giao khóa học
                  %h6
                    và thu tiền tận nơi
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/visa'}
                .card-image.course-image
                  %i.material-icons.large credit_card
                  %h6
                    Thanh toán trực tuyến
                  %h6
                    bằng thẻ ATM
                  %h6
                    hoặc Visa/Master
            .col.s3
              %a.payment-tab.course.active{:href => '/home/payment/bank'}
                .card-image.course-image
                  %i.material-icons.large business
                  %h6
                    Chuyển khoản
                  %h6
                    qua ngân hàng
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/direct'}
                .card-image.course-image
                  %i.material-icons.large room
                  %h6
                    Thanh toán trực tiếp            
      .row.payment-content
        %p
          2. Hoàn tất thanh toán
        %p
          Bạn chưa lựa chọn hình thức thanh toán nào
