.payment-320
  %main.payment
    .row.no-margin
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
        = render :partial => 'payment/header_payment'
    .p_container
      = render 'payment_method', method: 'cod'
      .row.payment-content.active.no-margin
        %h4 2. Hoàn tất thanh toán
        .col-xs-12.no-padding{:style => "color: #727272; margin-bottom: 15px;"} Điền thông tin đăng ký đặt mua khóa học
        .row.no-margin
          .col-xs-12.payment-editor
            %input.form-control{:placeholder => "Tên đầy đủ", :type => "text"}
          .col-xs-12.payment-editor
            %input.form-control{:placeholder => "Email", :type => "text"}
        .row.no-margin
          .col-xs-12.payment-editor
            %input.form-control{:placeholder => "Số điện thoại", :type => "text"}
          .col-xs-12.payment-editor
            %input.form-control{:placeholder => "Địa chỉ", :type => "text"}
        .row.no-margin
          .col-xs-12.payment-editor
            .form-group
              %select#select.form-control.browser-default{:name => "city", :required => "required"}
                %option{:disabled => "", :selected => "selected", :value => ""} Chọn Tỉnh / Thành phố
                %option{:value => "Hà Nội"} Hà Nội
                %option{:value => "Tp Hồ Chí Minh"} tp Hồ Chí Minh
                %option{:value => "Đà Nẵng"} Đà Nẵng
          .col-xs-12.payment-editor
            %input.form-control{:placeholder => "Quận/Huyện", :type => "text"}
        .row.no-margin
          .col-xs-12.no-padding.payment-editor
            %a.btn.btn-success.btn-raised.btn-lg.purchase-button Đặt mua khóa học
.payment-480-up  
  %main.payment
    .row.no-margin
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
        = render :partial => 'payment/header_payment'
    .p_container
      = render 'payment_method', method: 'cod'
      .row.payment-content.active.no-margin
        %h4 2. Hoàn tất thanh toán
        .col-xs-12.no-padding{:style => "color: #727272; margin-bottom: 15px;"} Điền thông tin đăng ký đặt mua khóa học
        .row.no-margin
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            %input.form-control{:placeholder => "Tên đầy đủ", :type => "text"}
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            %input.form-control{:placeholder => "Email", :type => "text"}
        .row.no-margin
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            %input.form-control{:placeholder => "Số điện thoại", :type => "text"}
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            %input.form-control{:placeholder => "Địa chỉ", :type => "text"}
        .row.no-margin
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            .form-group
              %select#select.form-control.browser-default{:name => "city", :required => "required"}
                %option{:disabled => "", :selected => "selected", :value => ""} Chọn Tỉnh / Thành phố
                %option{:value => "Hà Nội"} Hà Nội
                %option{:value => "Tp Hồ Chí Minh"} tp Hồ Chí Minh
                %option{:value => "Đà Nẵng"} Đà Nẵng
          .col-xs-6.col-sm-4.col-md-3.col-lg-3.payment-editor
            %input.form-control{:placeholder => "Quận/Huyện", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-3.col-lg-3.payment-editor
            %a.btn.btn-success.btn-raised.btn-lg.purchase-button Đặt mua khóa học