%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.payment.container-1140
  .row
    .col.s12.no-padding
      .row.green.payment-header
        .col.s6
          %h4.white-text
            Xác nhận thanh toán
          %p.white-text
            Kỹ năng thuyết trình và nói trước công chúng
        .col.s6
          %h4.right.white-text
            300.000d
      .row.payment-content
        %p
          1. Lựa chọn hình thức thanh toán
      .row.payment-content
        .col.s12
          .row.courses.card-style.center-align
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/delivery'}
                .card-image.course-image
                  %i.material-icons.large shopping_cart
                  %h6
                    Giao khóa học
                  %h6
                    và thu tiền tận nơi
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/visa'}
                .card-image.course-image
                  %i.material-icons.large credit_card
                  %h6
                    Thanh toán trực tuyến
                  %h6
                    bằng thẻ ATM
                  %h6
                    hoặc Visa/Master
            .col.s3
              %a.payment-tab.course{:href => '/home/payment/bank'}
                .card-image.course-image
                  %i.material-icons.large business
                  %h6
                    Chuyển khoản
                  %h6
                    qua ngân hàng
            .col.s3
              %a.payment-tab.course.active{:href => '/home/payment/direct'}
                .card-image.course-image
                  %i.material-icons.large room
                  %h6
                    Thanh toán trực tiếp            
      .row.payment-content
        %p
          2. Hoàn tất thanh toán
        %p
          Bạn chưa lựa chọn hình thức thanh toán nào
      .col.s12.no-padding 
        .row{:style => "padding: 0 113px 0 113px"}
          %p.red-text
            Thanh toán tại văn phòng Tudemy
          %p
            Địa chỉ văn phòng 
            Biệt thự 298/3 Điện Biên Phủ, phường 17, quận Bình Thạnh, TP Hồ Chí Minh <br>
            (Thời gian làm việc: từ 8:30 - 17:30 , từ Thứ 2 đến Thứ 7 hàng tuần)
          %span
          = image_tag 'map.png'      
