= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
    
  .payment
    .row.no-margin
      .col-xs-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .payment-main
        .payment-main-info
          .info-title Thông tin thanh toán
          .info-course
            / .course-name= @course.name
            .course-name Course_name
            / .course-price= number_to_currency(@payment.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
            .course-price Course_price
          .info-coupon
            .sale-text Giảm giá
            .sale-price 
          .info-cost
            .cost-text Thành tiền
            .total-pice
        .payment-main-menthod
          .menthod-title 2. Hoàn tất thanh toán
          .menthod-description Chuyển khoản ngân hàng
            .col-xs-12.no-padding.normal-text Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
          .row.no-margin
            .col-xs-12.no-padding
              %div.transfer-information.normal-text
                Số tài khoản: 
                %b 67664288
              %div.transfer-information.normal-text
                Chủ tài khoản: 
                %b Lê Đức Bình
              %div.transfer-information.normal-text
                Ngân hàng: 
                %b Ngân hàng VPBank, Chi Nhánh Định Công, Hà Nội
        .row.no-margin.transfer-note
          .col-xs-12.no-padding
            %u.normal-text Ghi chú khi chuyển khoản
          .col-xs-12.no-padding
            %ul.col-xs-12.no-padding.no-margin
              %li.list-note.normal-text Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký
              %li.list-note.normal-text Ví dụ: 0912345678 - Nguyen Thi Thu Hien - hien.nguyen@gmail.com - Xay dung trang web thuong mai đien tu voi Wordpress   
          .support-online-payment-form
            
          .menthod-progress
            .progress-icon
              %i.fa.fa-circle
            .progress-icon.active
              %i.fa.fa-circle
= render :partial => 'components/footer/index'           
