%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.payment.container-1140
  .row.courses.card-style
    .offset-s2.col.s8    
      .row.courses.card-style.center-align
        .course
          .card-image.course-image.pending
            .row
              .col.s12.no-padding
                .payment-pending-header.green.valign-wrapper
                  .col.s12{:style => "text-align:center;background:#ffbb33;padding:15px"}
                    %b.white-text{:style => "font-size: 24px"} Giao dịch của bạn đang được xử lý
            .row
              .offset-s1.col.s11.left-align.no-padding.pending-history
                %span
                  Giao dịch của bạn đang được xử lý, hãy hoàn thành các thủ tục thanh toán và kiểm tra trang
                  %a{:href => "#"} Lịch sử giao dịch
                  thường xuyên
            .row.no-margin
              .offset-s1.col.s2.left-align
                %span Khóa học
              .col.s8.right-align
                %b= @course.name
            .row.no-margin
              .offset-s1.col.s2.left-align
                %span Chi phí
              .col.s8.right-align.pending-price
                %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ".", :format => "%n%u")
            .row
              .offset-s1.col.s2.left-align
                %span Trạng thái
              .col.s8.right-align.pending-status
                %b Đang chờ xử lý
            .row
              .offset-s1.col.s10.no-padding
                %hr/
            .row
              .offset-s1.col.s11.left-align
                %div.pending-phone
                  %i.material-icons phone
                  %span Hotline:
                  %b 0123456789
            .row
              .col.s12
                %div.pedding-btn
                  %a.btn-large.text-white.bold{:href => "/courses/"} KHÁM PHÁ CÁC KHÓA HỌC KHÁC