.row.activate-cod-footer
  .container
    %ul.footer-links-one
      %li
        %a{:href => "https://www.facebook.com/Pedia.vn"} Facebook
      %li
        %a{:href => "https://www.youtube.com/channel/UCWgSoYvcbHG620xzYZjnINA"} Youtube
      %li
        %a{:href => "http://blog.pedia.vn"} Blog
      %li{:style => "float: right"}
        %a HOTLINE CSKH: 04.730.26688