:css
  html, body{
    min-height: 100%;
  }
.row.activate-cod-header
  .green-line
  .content
    .container
      = image_tag 'logo'
      %a.homepage{:href => 'https://pedia.vn'}
        Trang chủ
  .shadow