:css
  html, body{
    min-height: 100%;
  }
  .footer{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    height: 70px;
    background-color: #212121;
    padding: 15px 0px;

    .row{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
.row.activate-cod-header
  .green-line
  .content
    .container
      = image_tag "logo.svg"
      %a.homepage{:href => 'https://pedia.vn'}
        Trang chủ
  .shadow