.container
  .row.center.activate-cod-header
    %h2 Kích hoạt mã COD
  .row
    %form.activate-cod-form.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12{:method => "post",:action => "/cod/activate", :'accept-charset' => 'UTF-8'}
      .title.bold{:style => 'font-size:16px;'} Nhập mã COD tại đây
      .group-input
        %input#cod_cod.form-control{:type => 'text',:placeholder => 'Mã COD', :name => 'cod_code', :value => @cod_code}/
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag '_method', 'patch'
      - if !flash[:error].blank?
        .alert.alert-error{:role => 'alert', :style => "margin-top:10px;"}
          = flash[:error]
      .submit-cod.text-center
        %input.btn-activate.btn.btn-primary.bold{:style => 'font-size:16px;', :type => 'submit', :value => 'Kích hoạt'}
  .row.hotline
    %span
      Chăm sóc khách hàng:
      %b 0473058386

