.indicator {
  display: none;
}
.payment-tab.active {
  background-color: #009688;
  color: #fff !important;
}.payment {
  .payment-header {
    padding: 0 113px 0 113px;
  }
  .payment-content {
    padding: 0 113px 0 113px;
    .middle {
      height: 250px;
    }
    .payment-tab {
      min-height: 250px;
      color: #9e9e9e;
      padding-top: 30px;
      &:hover {
        background-color: #009688;
        color: #fff;
      }
    }
  }
}