.red-text {
  color: red;
}
.payment {
  min-width: 320px;
  text-align: center;
  .payment-header {
    height: auto;
    background-color: #38b34a;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    .title {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
    }
    &.fail {
      background-color: #ff4444;
    }
    &.pending {
      background-color: #ffbb33;
    }
    &.success {
      background-color: #38b34a;
    }
  }
  .payment-main {
    display: block;
    .payment-main-info {
      @extend .row;
      display: block;
      text-align: center;
      margin: 0;
      .info-title {
        font-size: 16px;
        color: #338abc;
        font-weight: bold;
        text-align: left;
      }
      .info-course {
        @extend .row;
        margin: 0;
        font-size: 14px;
        color: #212121;
        padding: 10px 0;
        border-bottom: 1px solid #acacac;
        .course-name {
          @include make-xs-column(8);
          padding: 0;
          text-align: left;
        }
        .course-price {
          @include make-xs-column(4);
          padding: 0;
          text-align: right;
        }
      }
      .info-coupon {
        @extend .row;
        margin: 0;
        font-size: 14px;
        color: #212121;
        padding: 10px 0;
        border-bottom: 1px solid #acacac;
        .sale-text {
          @include make-xs-column(8);
          padding: 0;
          text-align: left;
        }
        .sale-price {
          @include make-xs-column(4);
          padding: 0;
          text-align: right;
          vertical-align: bottom;
        }
      }
      .info-cost {
        @extend .row;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        color: #212121;
        padding: 10px 0;
        border-bottom: 1px solid #acacac;
        .cost-text {
          @include make-xs-column(8);
          padding: 0;
          text-align: left;
        }
        .total-price {
          @include make-xs-column(4);
          padding: 0;
          text-align: right;
          vertical-align: bottom;
        }
      }
    }
    .payment-main-menthod {
      @extend .row;
      display: block;
      text-align: center;
      margin: 0;
    }
  }
}

@media (max-width: 320px) {
}
@media (min-width: 320px) and (max-width: 480px) {
}
@media (min-width: 480px) and (max-width: 768px) {
  .payment {
    .payment-main {
      @include make-xs-column(10);
      margin: auto;
      padding: 0;
      float: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .payment {
    .payment-main {
      .payment-main-info {
        @include make-sm-column(5);
        display: inline-block;
        float: right !important;
      }
      .payment-main-menthod {
        @include make-sm-column(7);
        display: inline-block;
        float: left;
        border-right: 1px solid #acacac;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .payment {
    .payment-main {
      .payment-main-info {
        @include make-md-column(4);
        display: inline-block;
        float: right !important;
      }
      .payment-main-menthod {
        @include make-md-column(8);
        display: inline-block;
        float: left;
        border-right: 1px solid #acacac;
      }
    }
  }
}
@media (min-width: 1200px) {
  .payment {
    .payment-main {
      .payment-main-info {
        @include make-lg-column(4);
        display: inline-block;
        float: right !important;
      }
      .payment-main-menthod {
        @include make-lg-column(8);
        display: inline-block;
        float: left;
        border-right: 1px solid #acacac;
      }
    }
  }
}