.activate-cod-header{
  text-align: center;
  margin-top: 20px;
}

.activate-cod-form{
  margin-top: 10px;

  input {

  }

  .alert{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: bold;
  }

  .alert-error{
    color: red;
  }

  .group-input{
    margin-top: 5px;
  }
}

.activate-cod-account{
  .account-info{
    margin-top: 20px;
    font-size: 1.5em;

    .info{
      margin-top: 10px;
    }
  }

  .learn-now{
    text-align: center;
  }
}

.hotline{
  font-size: 1.4em;
  text-align: center;
  margin-top: 50px;
}