.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.activate-cod-header{
  text-align: center;
  margin-top: 20px;
}

.activate-cod-sub-header{
  text-align: center;
}

.activate-cod-form{
  margin-top: 10px;

  input {

  }

  .alert{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: bold;
  }

  .alert-error{
    color: red;
  }

  .group-input{
    margin-top: 5px;
  }
}

.activate-cod-account{
  .account-info{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
  }

  .learn-now{
    text-align: center;
  }
}

.hotline{
  font-size: 1.4em;
  text-align: center;
  margin-top: 50px;
}

.course-info{
  margin-top: 40px;

  .course-image{
    text-align: right;
    overflow: hidden;

    img{
      height: 150px;
    }
  }

  .course-detail{
    text-align: left;
    margin: 0px;

    h3{
      margin-top: 0px;
    }

    h3, h4{
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
 .course-info{
    .course-image{
      text-align: center;
    }

    .course-detail{
      margin-top: 20px;
      text-align: center;
    }
  }
}