= render :partial => 'components/header/index'
.container-wrapper.detail{:style => "overflow: hidden;"}  
  .search
    .row.no-margin.search-header
      .row.container
        %h4 Kết quả tìm kiếm cho từ khóa “ThanhNguyễn”
    .row.container.search-result-container
      .col-lg-2.col-md-3.col-sm-3.col-xs-12.no-padding.search-result-left
        = render :partial => 'components/courses/filter'
      .col-lg-10.col-md-9.col-sm-9.col-xs-12.search-result-main
        = render :partial => 'components/courses/sorting'
        .row.no-margin.courses-result
          - (1..10).each do |a|
            = render :partial => 'components/courses/list_card'
        .row.no-margin.courses-pagination

          %ul.pagination.pagination-md
            %li
              %a{:href => "javascript:void(0)"} <
            %li.active
              %a{:href => "javascript:void(0)"} 1
            %li
              %a{:href => "javascript:void(0)"} 2
            %li
              %a{:href => "javascript:void(0)"} ...
            %li
              %a{:href => "javascript:void(0)"} 58
            %li
              %a{:href => "javascript:void(0)"} 59
            %li
              %a{:href => "javascript:void(0)"} >