.search
  .row.no-margin.search-header
    .row.container
      %h4 Không có kết quả cho từ khóa “#{@keywords}”
  .row.no-margin.search-fail-container
    .row.container.search-fail-container-main
      - @courses.to_a.each do |course_h|
        - if course_h.last.last.count >0
          .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12{:style => 'margin-top:10px;'}
            .category-title.pull-left= course_h.last.first
            .clearfix
            .list-course-list
              - course_h.last.last.each do |course|
                = render :partial => 'components/courses/list_card', :locals => {:course => course}