.search
  .row.no-margin.search-header
    .row.container
      %h4 Kết quả tìm kiếm cho từ khóa “ThanhNguyễn”
  .row.container.search-result-container
    .col-lg-2.col-md-3.col-sm-3.col-xs-12.no-padding.search-result-left
      = render :partial => 'components/filter'
    .col-lg-10.col-md-9.col-sm-9.col-xs-12.no-padding.search-result-main
      - (1..10).each do |a|
        = render :partial => 'components/courses/list_card'