%nav.header-320.hide-on-large-only
  %div.header-container
    %ul.left
      %li.menu
        %a.category
          %i.material-icons menu
      %li.menu
        %a.search{:href => "courses/search"}
          %i.material-icons search
    %a.brand-logo.center
      %img{:class => "logo center-align valign-wrapper",:src => "/assets/header/logo.png"}
    %a.right.dropdown-button{"data-activates" => "dropdown-profile", :href => "#"}
      %img{:class => "circle ava right-align valign-wrapper",:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
%ul.courses-320.hide-on-large-only
  %li.course.row
    %img.col.s4.left-panel{:alt => "", :src => "/assets/course/thumb.png"}
    %div.col.s8.right-panel
      %p.title The Best Software Testing Training You Will Ever Get
      %p.author By Killua Casillass
      %div.rating
        %img{:class => "star", :src => "/assets/rating-star-1.png"}
        %span.number
          (4511)
        %span.price
          220.000đ
%ul#dropdown-profile.dropdown-profile-content-320.hide-on-large-only
  %li.user-info
    %div.row
      %div.left
        %img.responsive-img.circle.avatar{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
      %div.right
  %li.divider.pink
  %li.user-collection
    %a.user-item{:href => "#!"}
      Các khóa học của tôi
    %a.user-item{:href => "#!"}
      Tin nhắn
    %a.user-item{:href => "#!"} 
      Giỏ hàng
    %a.user-item{:href => "#!"}
      Hỗ trợ
    %a.user-item{:href => "#!"}
      Tiền 186.00 VNĐ
    %a.user-item{:href => "#!"}
      Lịch sử giao dịch
  %li.divider
  %li.logout
    %div.row
      %div.col.s2{:style => "padding: 0"}
        %a{:style => "padding: 0"}
          %i.material-icons.logout-icon power_settings_new
      %div.col.s10{:style => "padding: 0"}
        %span.logout-text 
          Đăng xuất
%nav.header-1280.hide-on-med-and-down
  %div.header-container
    %ul.left
      %li.menu
        %a.category
          %i.material-icons menu
      %li.menu
        %a.logo
          %img{:class => "logo center-align valign-wrapper",:src => "/assets/header/logo.png"}
    %ul.center
    %ul.right
      %li
        %a Dang nhap
      %li
        %a Dang ky
%ul.courses-1280.hide-on-med-and-down
  %li.course.row
    %img.col.s4.left-panel{:alt => "", :src => "/assets/course/thumb.png"}
    %div.col.s8.right-panel
      %p.title The Best Software Testing Training You Will Ever Get
      %p.author By Killua Casillass
      %div.rating
        %img{:class => "star", :src => "/assets/rating-star-1.png"}
        %span.number
          (4511)
        %span.price
          220.000đ
%ul#dropdown-profile.dropdown-profile-content-1280.hide-on-med-and-down
  %li.user-info
    %div.row
      %div.left
        %img.responsive-img.circle.avatar{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
      %div.right
  %li.divider.pink
  %li.user-collection
    %a.user-item{:href => "#!"}
      Các khóa học của tôi
    %a.user-item{:href => "#!"}
      Tin nhắn
    %a.user-item{:href => "#!"} 
      Giỏ hàng
    %a.user-item{:href => "#!"}
      Hỗ trợ
    %a.user-item{:href => "#!"}
      Tiền 186.00 VNĐ
    %a.user-item{:href => "#!"}
      Lịch sử giao dịch
  %li.divider
  %li.logout
    %div.row
      %div.col.s2{:style => "padding: 0"}
        %a{:style => "padding: 0"}
          %i.material-icons.logout-icon power_settings_new
      %div.col.s10{:style => "padding: 0"}
        %span.logout-text 
          Đăng xuất
%nav.header-1280-up.hide-on-med-and-up
  %div.header-container
    %ul.left
      %li.menu
        %a.category
          %i.material-icons menu
      %li.menu
        %a.search{:href => "courses/search"}
          %i.material-icons search
    %a.brand-logo.center
      %img{:class => "logo center-align valign-wrapper",:src => "/assets/header/logo.png"}
    %a.right.dropdown-button{"data-activates" => "dropdown-profile", :href => "#"}
      %img{:class => "circle ava right-align valign-wrapper",:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
%ul.courses-1280-up.hide-on-med-and-up
  %li.course.row
    %img.col.s4.left-panel{:alt => "", :src => "/assets/course/thumb.png"}
    %div.col.s8.right-panel
      %p.title The Best Software Testing Training You Will Ever Get
      %p.author By Killua Casillass
      %div.rating
        %img{:class => "star", :src => "/assets/rating-star-1.png"}
        %span.number
          (4511)
        %span.price
          220.000đ
%ul#dropdown-profile.dropdown-profile-content-1280-up.hide-on-med-and-up
  %li.user-info
    %div.row
      %div.left
        %img.responsive-img.circle.avatar{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
      %div.right
  %li.divider.pink
  %li.user-collection
    %a.user-item{:href => "#!"}
      Các khóa học của tôi
    %a.user-item{:href => "#!"}
      Tin nhắn
    %a.user-item{:href => "#!"} 
      Giỏ hàng
    %a.user-item{:href => "#!"}
      Hỗ trợ
    %a.user-item{:href => "#!"}
      Tiền 186.00 VNĐ
    %a.user-item{:href => "#!"}
      Lịch sử giao dịch
  %li.divider
  %li.logout
    %div.row
      %div.col.s2{:style => "padding: 0"}
        %a{:style => "padding: 0"}
          %i.material-icons.logout-icon power_settings_new
      %div.col.s10{:style => "padding: 0"}
        %span.logout-text 
          Đăng xuất
