%ul#slide-out.side-nav.fixed
  %div
    %a.btn{:href => "#!"}
      %i.mdi-navigation-menu
      First Sidebar Link
  %li
    %a{:href => "#!"} Second Sidebar Link

%nav.nav-wrapper.header
  %div.logo.row.col.s12
    .col.s3
      %a.brand-logo{:href => "#"}
        %img{:src => "assets/header/logo.png"}
    .col.s5.offset-s3
      %form
        %input#first_name.validate{:placeholder => "Tìm kiếm khóa học", :type => "search"}/
    .col.s1
      %a{:href => "sass.html"}
      %i.material-icons search
    .col.s3
      %a.btn-flat{:href => "#"}
        Login
      %a.btn{:href => "#"}
        Register

.main
  .row.col.s12
    %img{:src => "assets/Layer-10.png"}
    .title.col.s12
      %h5.left
        Được đánh giá cao
      %a.btn.right
        Xem thêm
      %a
        %i.material-icons.right chevron_right
      %a
        %i.material-icons.right chevron_left
  .row
    .col.s12
      .row
        .card.col.s3
          .card-image.waves-effect.waves-block.waves-light
            %img{:src => "assets/course-image.png"}
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              itlemore_vert
            %p
              %a{:href => "#"} This is a link

