<script type="text/javascript">
  var a = <%= @a%>
  alert(a);
</script>
<body>
  <table>
    <tr>
      dfdsfd
    </tr>
    <tr>
      <% @courses.each do |course| %>
        <td><strong><%= course.name %></strong></td>
      <% end %>
    </tr>

  </table>
</body>