.row.no-margin.card-category
  = render :partial => 'components/courses/course_card'
.row.no-margin
  = render :partial => 'components/courses/list_card'
.row.no-margin
  = render :partial => 'components/courses/learning_card'
.row{:style => "margin-bottom: 100px"};