%ul#slide-out.side-nav.fixed
  %li
    %a{:href => "#!"} First Sidebar Link
  %li
    %a{:href => "#!"} Second Sidebar Link
%a.button-collapse{"data-activates" => "slide-out", :href => "#"}
  %i.mdi-navigation-menu