%section.header
  %ul.header-container
    %li.menu
      %img{:class => "category",:src => "/assets/header/menu"}
    %li.menu
      %img{:class => "search",:src => "/assets/header/search"}
    %li.menu
      %img{:class => "logo",:src => "/assets/header/logo"}
    %li.menu
      %img{:class => "ava",:src => "/assets/header/avatar"}
%section.menu-list
  %h4
  Trang chủ
%section.course-list
  %div.row
    %div{:class => "col s4"}
      %img{:class => "course-img", :src => "/assets/header/thumb"}
    %div{:class => "col s8"}
      %span.title
      The Best Software Testing Training You Will Ever Get
      %span.author
      By Killua Casillass