
.row.learning.no-margin
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.no-margin.learning-header
    .row.learning-header-container
      %span.course-name User Experience of Web Design
      .rating-container
        %ul.rating.rating-active
          %li
            %i.fa.fa-star.star.rated{:val => "1"}
          %li
            %i.fa.fa-star.star.rated{:val => "2"}
          %li
            %i.fa.fa-star.star.rated{:val => "3"}
          %li
            %i.fa.fa-star.star.rated{:val => "4"}
          %li
            %i.fa.fa-star.star.rated{:val => "5"}
          %li 
            %a.rate-it Rate it
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.no-margin
    .row.learning-container
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-lg-6.list-lecture
        .row.no-margin.lecture-header
          %ul 
            %li
              %i.fa.fa-play-circle
            %li
              .lecture-header-content
                %p.no-margin.lecture-header-index Bài giảng 1:
                %p.no-margin.lecture-header-name Starting Threads
                %p.no-margin.lecture-header-time 09:58 phút
        .row.no-margin.lecture-progress
          .row.no-margin.progress-title
            %ul.progress-title-content
              %li.progress-title-item Bạn đã hoàn thành 
              %li.progress-title-item.bold 4
              %li.progress-title-item trên
              %li.progress-title-item.bold 9
              %li.progress-title-item bài giảng
          .row.trophy
            %i.fa.fa-trophy
          .row.no-margin.progress-container
            .progress
              .progress-bar{:style => "width:59.99%;"}
            .progress-finish
              .finish

        .row.no-margin.list-lecture-container
          .row.chap-title Chương 1: My First Section
          .row.chap-item
            .row.item-container
              .chap-item-status
                / completed
                / learning
                / none
                / glyphicon glyphicon-ok
                /glyphicon glyphicon-pencil
                .status-container.completed
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 1: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.learning
                  %i.fa.fa-pencil
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 2: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span Văn bản
                      %li
                        %a{:href => "#"}  
                          %i.fa.fa-comments
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.none
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 3: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                    .row.type-document
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.none
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 4: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                    .row.type-document
          .row.chap-title Chương 1: My First Section
          .row.chap-item
            .row.item-container
              .chap-item-status
                / completed
                / learning
                / none
                / glyphicon glyphicon-ok
                /glyphicon glyphicon-pencil
                .status-container.completed
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 1: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.learning
                  %i.fa.fa-pencil
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 2: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span Văn bản
                      %li
                        %a{:href => "#"}  
                          %i.fa.fa-comments
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.none
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 3: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                    .row.type-document
          .row.chap-item
            .row.item-container
              .chap-item-status
                .status-container.none
                  %i.fa.fa-check
              .chap-item-content
                .row.no-margin 
                  %a{:href => "#"}Bài giảng 4: Introduction To The Course
                .row.no-margin
                  .row.type-document
                    %ul.no-padding
                      %li 
                        %a{:href => "#"}
                          %i.fa.fa-play-circle
                      %li
                        %span 09:58
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-download
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                    .row.type-document         
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.no-margin.lecture-discussion
        .row.no-margin
          .col-md-4.col-lg-4.learning_tab.tab-actived{:val => "discussion"}
            %a{:href => "#tab1"}
              %i.fa.fa-comments
              %span Thảo luận 
          .col-md-4.col-lg-4.learning_tab{:val => "noti"}
            %a{:href => "#tab2"}
              %i.fa.fa-bullhorn
              %span Thông báo 
          .col-md-4.col-lg-4.learning_tab{:val => "student"}
            %a
              %i.fa.fa-users
              %span 9999 Học viên 
          .col-md-12.col-lg-12.no-padding.progress
            .col-md-4.col-lg-4.progress-actived
            .col-md-4.col-lg-4
            .col-md-4.col-lg-4
        .row.no-margin.discussion
          .row.no-margin
            .col-md-8.col-lg-8.no-padding.search
              %input.form-control{:placeholder => "Tìm kiếm thảo luận"}
              %i.fa.fa-search
            .col-md-4.col-lg-4.no-padding
              .btn.btn-primary Thảo luận mới 
          .row.no-margin.list-discussion
            .row.discussion-item.no-margin
              .col-md-1.col-lg-1.no-padding.discussion-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.discussion-item-main
                %ul.discussion-item-title
                  %li.bold ThanhNguyễn
                  %li đã đăng 1 thảo luận - 2 tháng trước 
                %span.discussion-item-subject 
                  Please do something
                %p.discussion-item-content
                  The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                %a.discussion-item-reply Phản hồi (1)
                .row.no-margin.list-children.collapsed
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.no-margin 
                    .col-md-11.col-lg-11.col-md-offset-1.col-lg-offset-1.no-padding.send-reply
                      %input.form-control{:placeholder => "Phản hồi của bạn"}       
                      .btn.btn-primary Gửi phản hồi 
            .row.discussion-item.no-margin
              .col-md-1.col-lg-1.no-padding.discussion-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.discussion-item-main
                %ul.discussion-item-title
                  %li.bold ThanhNguyễn
                  %li đã đăng 1 thảo luận - 2 tháng trước 
                %span.discussion-item-subject 
                  Please do something
                %p.discussion-item-content
                  The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                %a.discussion-item-reply Phản hồi (2)
                .row.no-margin.list-children.collapsed
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.no-margin 
                    .col-md-11.col-lg-11.col-md-offset-1.col-lg-offset-1.no-padding.send-reply
                      %input.form-control{:placeholder => "Phản hồi của bạn"}       
                      .btn.btn-primary Gửi phản hồi 
            .row.discussion-item.no-margin
              .col-md-1.col-lg-1.no-padding.discussion-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.discussion-item-main
                %ul.discussion-item-title
                  %li.bold ThanhNguyễn
                  %li đã đăng 1 thảo luận - 2 tháng trước 
                %span.discussion-item-subject 
                  Please do something
                %p.discussion-item-content
                  The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                %a.discussion-item-reply Phản hồi (3)
                .row.no-margin.list-children.collapsed
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li đã đăng 1 thảo luận - 2 tháng trước 
                      %span.child-item-subject
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.no-margin 
                    .col-md-11.col-lg-11.col-md-offset-1.col-lg-offset-1.no-padding.send-reply
                      %input.form-control{:placeholder => "Phản hồi của bạn"}       
                      .btn.btn-primary Gửi phản hồi 
            .row.discussion-item.no-margin
              .col-md-1.col-lg-1.no-padding.discussion-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.discussion-item-main
                %ul.discussion-item-title
                  %li.bold ThanhNguyễn
                  %li đã đăng 1 thảo luận - 2 tháng trước 
                %span.discussion-item-subject 
                  Please do something
                %p.discussion-item-content
                  The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                %a.discussion-item-reply Phản hồi (4)
                .row.no-margin.list-children.collapsed
                  .row.no-margin 
                    .col-md-11.col-lg-11.col-md-offset-1.col-lg-offset-1.no-padding.send-reply
                      %input.form-control{:placeholder => "Phản hồi của bạn"}       
                      .btn.btn-primary Gửi phản hồi 
        .row.no-margin.noti.collapsed
          .row.no-margin.list-noti
            .row.noti-item.no-margin
              .col-md-1.col-lg-1.no-padding.noti-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.noti-item-main
                %ul.noti-item-title
                  %li.bold ThanhNguyễn
                  %li đã đăng 1 thông báo - 2 tháng trước 
                %span.noti-item-subject 
                  Please do something
                %p.noti-item-content
                  The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                %a.noti-item-reply Bình luận (1)
                .row.no-margin.list-children.collapsed
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.child-item.no-margin
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.child-item-main
                      %ul.child-item-title
                        %li.bold ThanhNguyễn
                        %li - 2 tháng trước 
                      %span.child-item-subject 
                        Please do something
                      %p.child-item-content
                        The videos are not working and I try everything but still nothing is working,please at least send a link to watch them on YouTube if u can't fix it,many thanks!!!
                  .row.no-margin 
                    .col-md-1.col-lg-1.no-padding.child-item-avatar
                      %i.fa.fa-smile-o
                    .col-md-11.col-lg-11.no-padding.send-reply
                      %input.form-control{:placeholder => "Bình luận của bạn"}       
                      .btn.btn-primary Gửi bình luận 
= render :partial => 'components/footer/index'