
%h1 You can add your site here.
%h2 To ensure that material-design theme is working, check out the buttons below.
%h3.text-muted If you can see the ripple effect on clicking them, then you are good to go!
%p.bs-component
  %a.btn.btn-default{:href => "javascript:void(0)"} Default
  %a.btn.btn-primary{:href => "javascript:void(0)"} Primary
  %a.btn.btn-success{:href => "javascript:void(0)"} Success
  %a.btn.btn-info{:href => "javascript:void(0)"} Info
  %a.btn.btn-warning{:href => "javascript:void(0)"} Warning
  %a.btn.btn-danger{:href => "javascript:void(0)"} Danger
  %a.btn.btn-link{:href => "javascript:void(0)"} Link
%input.form-control
/ Your site ends