.row.learning.no-padding.no-margin
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.no-margin.learning-header
    .row.learning-header-container
      %span.course-name User Experience of Web Design
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.no-margin
    .row.learning-container
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.no-padding.no-margin.list-lecture
        .row.no-margin.lecture-header
          %span.glyphicon.glyphicon-play
          .lecture-header-content
            %p Bài giảng 1:
            %p Starting Threads
            %p 09:58 phút
        .row
        .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.no-padding.no-margin.lecture-discussion
  