%main
 .row.leture
  .col.s9.no-padding.fixed
   .row.leture-header
    %ul
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course._id+'/learning'}
       %i.material-icons.left.white-text{:style => "transform: rotate(180deg);"} play_circle_filled
       Trở lại khóa học
     %li
     - if @lecture.lecture_index > 0
      %a.waves-effect.waves-light.btn.leture-header-back-leture{:href => '/courses/'+@course._id+'/lecture/'+(@lecture.lecture_index-1).to_s}
       %i.material-icons.left.white-text{:style => "transform: rotate(-90deg);"} play_circle_filled
       Bài giảng trước 
   .row
    .col.s10.offset-s1.leture-player
     - if @lecture.asset_type == "Video"
      - @indexStart = @lecture.url.index('v=') + 2
      - if @lecture.url['&']
       - @indexEnd = @lecture.url.index('&')-1
       - @youtube_id = @lecture.url[@indexStart..@indexEnd] 
      - else
       - @indexEnd = @lecture.url.length
       - @youtube_id =  @lecture.url[@indexStart..@indexEnd]
      - if @youtube_id
       .row.media
        %iframe{:width => '100%',:style => 'border : 0px', :height => '100%', :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=1&amp', :allowfullscreen => 'true'} 
     - else
      .row.document
       - if @lecture.description
        = @lecture.description
   .row.leture-footer   
    %ul
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course._id+'/learning',:style => "visibility:hidden;"} 
       %i.material-icons.left.white-text{:style => "transform: rotate(180deg);"} play_circle_filled
       Trở lại khóa học    
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course._id+'/lecture/'+(@lecture.lecture_index+1).to_s}
       Bài tiếp theo
       %i.material-icons.left.white-text play_circle_filled
     %li
      / %a.waves-effect.waves-light.btn.leture-header-back-course
      /  %i.material-icons.left.white-text replay
      /  %span Auto Play
      /  %span.bold.green-text{:style => "text-transform : uppercase"} ON
  .col.s3.list-lecture
   - have_chapter = @course.curriculums.where(type: "chapter").count == 0
   - if have_chapter
    - @course.curriculums.where(type: "lecture").each do |lecture|
     .col.s12.lecture-list-items
      %a.item-container{:href => '/courses/'+@course._id+'/lecture/'+lecture.lecture_index.to_s}
       .row.no-margin
        .col.s1
         -if lecture.status == 0
          .row.icon.locked
           %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
         -else
          -if lecture.status == 1
           .row.icon.learning
            %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
          -else
           -if lecture.status == 2
            .row.icon.completed
             %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
        .col.s10.no-padding.item-data
         %span.item-name= lecture.title
         .row.detail
          - if lecture.asset_type == "Video"
           .col.s3.offset-s6.icon-video-type.no-padding
            %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
           .col.s9.no-padding Video
          - else
           .col.s3.offset-s6.icon-document-type.no-padding
            %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
           .col.s9.no-padding Văn bản
   - else
    - @course.curriculums.each do |curriculum|
     - if curriculum.type == 'chapter'
      .row.lecture-chap
       .col.s12.lecture-chap-title= curriculum.title
       .col.s12.lecture-list-items
        - @course.curriculums.where(chapter_index: curriculum.chapter_index + 1, type: "lecture").each do |lecture|
         %a.item-container{:href => '/courses/'+@course._id+'/lecture/'+lecture.lecture_index.to_s}
          .row.no-margin
           .col.s1
            - if lecture.status == 0
             .row.icon.locked
              %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
            - elsif lecture.status == 1
             .row.icon.learning
              %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
            - elsif lecture.status == 2
             .row.icon.completed
              %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
           .col.s10.no-padding.item-data
            %span.item-name= lecture.title
            .row.detail
             - if lecture.asset_type == "Video"
              .col.s3.offset-s6.icon-video-type.no-padding
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
              .col.s9.no-padding Video
             - else
              .col.s3.offset-s6.icon-document-type.no-padding
               %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
              .col.s9.no-padding Văn bản