/ %section.courses
/ 	%div.left
/ 		%img{:class => "course-img responsive-img", :src => "/assets/course/thumb.png"}
/ 	%div.right
/ 		%span.title
/ 			The Best Software Testing Training You Will Ever Get
/ 		%span.author
/ 			By Killua Casillass
/ 		%span.rating
/ 			%img{:class => "star", :src => "/assets/rating-star-1.png"}
/ 			%span.number
/ 				(4511)
/ 		%span.price
/ 			220.000đ
/ 		%div.clear
%nav.header
  %div.header-container
    %ul.left
      %li.menu
        %a.category
          %i.material-icons menu
      %li.menu
        %a.search
          %i.material-icons search
    %a.brand-logo.center
      %img{:class => "logo center-align valign-wrapper",:src => "/assets/header/logo.png"}
    %a.right
      %img{:class => "circle ava right-align valign-wrapper",:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11215086_842526002451006_5806294280552896279_n.jpg?oh=ffd2abfbb6bcaee71a24d02c4c80dd1b&oe=561F1D0C&__gda__=1448746161_8f92027e8590a610531e08540410c054"}
%nav.search-panel
  .nav-wrapper
    %form
      .input-field
        %input#search{:required => "", :type => "search"}
        %label{:for => "search"}
          %i.search.center-align.valign-wrapper
            %img{:src => "/assets/header/search-black.png"}
%ul.courses
  %li.course
    %img.course-left{:alt => "", :src => "/assets/course/thumb.png"}
    %div.course-right
      %span The Best Software Testing Training You Will Ever Get
      %span By Killua Casillass