%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'
- if (@courses.count!=0)
  = render :partial => 'search_result'
- else
  = render :partial => 'search_false'