%section.header
  %ul.header-container
    %li.menu
      %img{:class => "category left-align valign-wrapper",:src => "/assets/header/menu.png"}
    %li.menu
      %img{:class => "search center-align valign-wrapper",:src => "/assets/header/search.png"}
    %li.menu
      %img{:class => "logo center-align valign-wrapper",:src => "/assets/header/logo.png"}
    %li.menu
      %img{:class => "ava right-align valign-wrapper",:src => "/assets/header/avatar"}
%section{:class => "search-panel z-depth-1"}
  %div.left
    %input.input-field
  %div.right
    %img{:class => "search", :src => "/assets/header/search"}
    %div.clear   
%section.courses
  %div.left
    %img{:class => "course-img", :src => "/assets/header/thumb"}
  %div.right
    %span.title
      The Best Software Testing Training You Will Ever Get
    %span.author
      By Killua Casillass
    %span.rating
      %img{:class => "star", :src => "/assets/course/1.png"}
      %span.number
        (4511)
    %span.price
      220.000đ
    %div.clear

