.jwplayer-error-layer{:style => "background-color: #000; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 100000; text-align: center; padding: 20px; padding-top: 30vh;"}
  %p 
    Không tải được video do sai thời gian hệ thống, vui lòng chỉnh lại thời gian hệ thống của bạn.
    / %a{:href => 'time_changing_guide_url', :style => 'color: blue;', :target => 'about:blank'}
    /   Hướng dẫn
  / %p
  /   Nếu vẫn xảy ra trường hợp này, vui lòng thử lại trên trình duyệt
  /   %a{:href => 'https://www.mozilla.org/vi/firefox/new/?product=firefox-3.6.8', :style => 'color: blue;', :target => 'about:blank'}
  /     Firefox
  %p
    Liên hệ hotline:
    %span{:style => 'color: blue;'}
      0961.215.368
    để được hỗ trợ