.jwplayer-error-layer{:style => "background-color: #000; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 100000; text-align: center; padding: 20px; padding-top: 30vh;"}
  %p 
    Vui lòng cài đặt hoặc cập nhật phiên bản Flash mới nhất để xem video
  %p
    Hoặc vui lòng thử trên trình duyệt khác như Chrome, Cốc cốc
  %p
    Liên hệ hotline:
    %span{:style => 'color: #FF4444;'}
      0961.215.368
    để được hỗ trợ