.jwplayer-error-layer{:style => "background-color: #000; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 100000; text-align: center; padding: 20px; padding-top: 30vh;"}
  %p 
    Không tải được video, có thể do mạng của bạn quá yếu, vui lòng thử lại!
  %p
    Liên hệ hotline:
    %span{:style => 'color: #FF4444;'}
      0968.146.522
    để được hỗ trợ