.banner {
  @media (max-width: 320px) {
    .modal-content {
      width: 320px; 
      height: 168px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 110px;
        left: 40px;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .modal-content {
      width: 320px; 
      height: 168px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 110px;
        left: 40px;
      }
    }
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .modal-content {
      width: 480px; 
      height: 270px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 210px;
        left: 117px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .modal-content {
      width: 560px; 
      height: 380px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 310px;
        left: 157px;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .modal-content {
      width: 560px; 
      height: 380px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 310px;
        left: 157px;
      }
    }
  }
  @media (min-width: 1200px) {
    .modal-content {
      width: 560px; 
      height: 380px;
      overflow: hidden;
      margin: 65px auto;
      img {
        width: 100%;
        height: 100%;
      }
      .close-button {
        position: absolute;
        top: 310px;
        left: 157px;
      }
    }
  }

}