.btn-expanded {
  width: 100%;
}

.btn-social-login {
  color: #fff !important;
  font-size: 16px;
  height: 40px;
  text-transform: none;
  min-width: 270px;
  width: 100%;

  @media (max-width: 1200px) {
    line-height: 34px;
    height: 50px;
  }
}

.btn-facebook {
  background-color: $facebook-color-default !important;
}

.btn-google {
  background-color: $google-color-default !important;
}

.btn-login-submit {
  background-color: $primary-color !important;
  color: #fff !important;
  font-size: 16px;
  height: 50px;
}