$primary-color: #38B34A;
$secondary-color: #338ABC;
$bg-color: #F4F3F2;
$text-color-default: #212121;
$icon-color-default: #727272;
$border-color-default: #dedede;
$facebook-color-default: #3b5998;
$google-color-default: #e04006;