body {
  position: static;
}

.container-1140 {
  margin: 0 auto;
  max-width: 1140px;
  width: 1140px;
}

#course-search {
  border-bottom-color: color('grey', 'base');
  border-width: medium medium 1px;
  border-style: none none solid;
  box-shadow: none;
  color: #444;
  padding: 0 30px 0 0;
  transition: all 0.3s ease 0s;
  &:focus {
    border-bottom: 1px solid $secondary-color;
    box-shadow: 0px 1px 0px 0px $secondary-color;
    &+label {
      .material-icons {
        color: $secondary-color;
      }
    }
  }

  &+label {
    left: auto;
    right: -20px;
    transition: all 0.3s ease 0s;
    .material-icons {
      color: #444;
      font-size: 24px;
    }
  }
}

#modal-login, #modal-register {
  width: 730px;
  .modal-header {
    @extend .modal-footer;
    height: 25px;
    .modal-close {
      color: #444;
    }
  }
  .modal-content {
    padding: 0 24px;
    .modal-close {
      color: $secondary-color;
    }
  }
  .modal-title {
    font-size: 24px;
    text-align: center;
  }
  .input-field {
    margin-bottom: 10px;
    input {
      margin-bottom: 0;
    }
  }
}

#user-info-dropdown {
  width: 380px !important;
  top: 64px !important;
}

a[data-activates='user-info-dropdown'] {
  display: inline-block;
  img {
    border-radius: 50%;
    vertical-align: middle;
  }
}

.bold {
  font-weight: 700;
}

.expanded {
  width: 100%;
}

.flex-box {
  display: flex;
  &-items-centered {
    align-items: center;
  }
}

.sidebar {
  .other-categories {
    > li {
      padding-left: 30px;
      margin: 10px 0;
    }
    .other-category {
      padding-left: 50px;
      a {
        color: #444;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  .other-categories-title {
    color: $secondary-color;
    font-weight: bold;
  }
}

.center-pagination {
  ul {
    text-align: center;
    list-style-type: none;
  }

  ul li {
    display: inline-block;
    float: none;
    vertical-align: middle;
    &.active {
      background-color: $secondary-color;
    }
  }

  .material-icons {
    vertical-align: middle;
  }
}

.no-background {
  background: transparent repeat scroll 0% 0%;
  box-shadow: none;
  border: medium none;
}

.splash-box {
  @extend .card;
  margin: auto;
  padding: 30px 80px;
  width: 730px;
  text-align: center;
  &-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
  }

  &-subtitle {
    display: block;
    font-size: 24px;
  }

  label[for='course-search'] {
    top: 50px;
  }

  .hooks {
    margin-top: 30px;
  }

  .hook {
    text-align: left;
  }

  .hook-text {
    font-weight: 500;
  }

  .material-icons {
    font-size: 32px;
    color: color('deep-orange', 'base');
  }
}