.container{:style => 'text-align: center;'}
  %h1 Hướng dẫn thay đổi giờ máy tính
  %h1 #{@os_name}
  .row
    %video{:width => '640', :height => '480', :controls => true}
      %source{:src => @video_link}
      %p Trình duyệt của bạn không hỗ trợ HTML5
      %p
        Liên hệ hotline:
        %span{:style => 'color: blue;'}
          0961.215.368
        để được hỗ trợ
  .row{:style => 'margin-bottom: 100px; margin-top: 40px; font-size: 30px;'}
    %h3 Lựa chọn hệ điều hành khác
    .row
      %a{:href => '/faq/change_time?os=window_xp'} Window XP
      %span &diams;
      %a{:href => '/faq/change_time?os=window_78'} Window 7/8
      %span &diams;
      %a{:href => '/faq/change_time?os=window_10'} Window 10
      %span &diams;
      %a{:href => '/faq/change_time?os=mac_os'} Mac OS