#modal-suport.modal
  .modal-header
    %a.modal-action.modal-close.waves-effect.right
      %i.material-icons close
  .modal-content
    .row
      .col.s12
        %h4.modal-title.center-align Yêu cầu hỗ trợ 
    .row
      %form.col.s12{:style => 'border-left: 1px solid #e6e6e6;', :method => "post",:action => "/support"}
        .row.input-field
          .col.s12
            %input#name{:type => 'text', :name => "name", :required => '', :placeholder => 'Tên đầy đủ'}
        .row.input-field
          .col.s12
            %input#email{:type => 'email', :name => "email", :required => '', :placeholder => 'Địa chỉ email'}
        .row.input-field
          .col.s12
            %input#email{:type => 'text', :name => "content", :required => '', :placeholder => 'Nội dung cần hỗ trợ'}
        .row{:style => 'margin: 20px 0 0'}
          .col.s12.center-align
            = hidden_field_tag :authenticity_token, form_authenticity_token
            %input.btn.btn-large.deep-orange{:type => 'submit', :value => 'GỬI PHẢN HỒI'}
