%nav.top-nav.no-background
  .nav-wrapper
    %a.brand-logo.center
      = image_tag 'logo.png', :style => 'vertical-align: middle;'
    .row
      .col.s4.right.right-align
        %a.btn-login.waves-effect.wave-grey.modal-trigger{:href => '#modal-login', :style => 'color: #fff;'} Đăng nhập
        %a.btn.modal-trigger.deep-orange{:href => '#modal-register'} Đăng ký
