.hidden-lg
  .row.no-margin
    .col-xs-12.col-sm-12.col-md-12.no-padding
      = render :partial => 'components/header/index'
  .row.no-margin.landingpage
    .col-xs-12.col-ld-12.col-md-12.no-padding
      .row.no-margin.header-box
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %h4.no-margin.header-title Khóa học nào sẽ thay đổi cuộc đời bạn?
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %h5.header-description Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %input.form-control{:placeholder => "Tìm một khóa học", :type => "text"}
          %i.fa.fa-search
      .container
        .row.no-margin.categories
          .layout-320
            %h4.categories-title Khám phá những chủ đề 
            %h4.categories-title và khóa học phổ biến
          .layout-480-up
            %h4.categories-title Khám phá những chủ đề và khóa học phổ biến
          .category
            %img{:src => "assets/python.png"}
          .category
            %img{:src => "assets/java.png"}
          .category
            %img{:src => "assets/excel.png"}
.hidden-xs.hidden-sm.hidden-md
  .row.no-margin.landingpage
    .col-lg-12.no-padding
      .row.no-margin.home-top
        #myCarousel.carousel.container.slide
          .carousel-inner
            .active.item.one
            .item.two
            .item.three
            .item.four
            .item.five
            .item.six
      .row.no-margin.flex-box
        .col-lg-12.no-padding
          .splash-box
            .row.no-margin
              .col-lg-12.no-padding
                %span.splash-box-title Khóa học nào sẽ thay đổi cuộc đời bạn?
            .row.no-margon
              .col-lg-12.no-padding
                %span.splash-box-subtitle Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
            .row.no-margin
              .col-lg-12.no-padding
                %input.form-control{:placeholder => "Tìm một khóa học", :type => "text"}
                %i.fa.fa-search
            .row.no-margin.hooks
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-credit-card
                  .hook-title
                    %h5.nomarl-text.no-margin Thanh toán một lần học trọn đời
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-refresh
                  .hook-title
                    %h5.nomarl-text.no-margin Hoàn tiền sau 30 ngày nếu không hài lòng
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-globe
                  .hook-title
                    %h5.nomarl-text.no-margin Học mọi lúc mọi nơi
  .row
    .col.s12
  .row
    .col.s12
      .home-headline Khám phá những chủ đề và khóa học phổ biến
  .row.courses.card-style
    .col.s3
      %a.course{:href => "/courses/giam-can-va-an-bat-cu-thu-gi-ban-muon/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Giamcanvananbatcuthugibanmuon", :src => "/uploads/images/giamcanvananbatcuthugibanmuon.jpg"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Giảm cân và ăn bất cứ thứ gì bạn muốn
            .row.course-author
              .col.s12.no-padding Nguyễn Thị Như Ngọc
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (100)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 12101
              .col.s6.no-padding.course-price{:style => "text-align:right;"} 399,000đ
    .col.s3
      %a.course{:href => "/courses/tieng-anh-dau-cau-khong-kho/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Tieng anh hoc dau cau chang kho chut nao", :src => "/uploads/images/tieng-anh-hoc-dau-cau-chang-kho-chut-nao.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Tiếng Anh: Dấu câu không khó
            .row.course-author
              .col.s12.no-padding Egbert Veltman
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (1063)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 11559
              .col.s6.no-padding.course-price.red-text{:style => "text-align:right;"} Miễn phí
    .col.s3
      %a.course{:href => "/courses/lam-chu-excel-trong-4-gio/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Lam chu excel trong 4 gio", :src => "/uploads/images/lam-chu-excel-trong-4-gio.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Làm chủ Excel trong 4 giờ
            .row.course-author
              .col.s12.no-padding Nguyễn Danh Tú
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
              .col.s5.course-rating-people.no-padding (2068)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9943
              .col.s6.no-padding.course-price{:style => "text-align:right;"} 199,000đ
    .col.s3
      %a.course{:href => "/courses/thiet-ke-ung-dung-di-dong-tu-con-so-0-nguyen-tac-thiet-ke-va-trai-nghiem-nguoi-dung-ux/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Thiet ke ung dung di dong tu con so 0 nguyen tac thiet ke va trai nghiem nguoi dung ux", :src => "/uploads/images/thiet-ke-ung-dung-di-dong-tu-con-so-0-nguyen-tac-thiet-ke-va-trai-nghiem-nguoi-dung-ux.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Thiết kế ứng dụng di động từ con số 0: Nguyên tắc thiết kế và trải nghiệm người dùng (UX)
            .row.course-author
              .col.s12.no-padding Chử Đức Hoàng
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (1982)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9909
              .col.s6.no-padding.course-price{:style => "text-align:right;"} 990,000đ
    .col.s3
      %a.course{:href => "/courses/tieng-anh-ung-dung/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Bi quyet hoc tieng anh cho nguoi moi bat dau", :src => "/uploads/images/bi-quyet-hoc-tieng-anh-cho-nguoi-moi-bat-dau.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Tiếng Anh ứng dụng
            .row.course-author
              .col.s12.no-padding Bianca Rayner
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons star_rate
                %i.material-icons star_rate
                %i.material-icons star_rate
                %i.material-icons star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (0)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9857
              .col.s6.no-padding.course-price.red-text{:style => "text-align:right;"} Miễn phí
    .col.s3
      %a.course{:href => "/courses/cac-phuong-phap-toi-uu-giac-ngu-de-co-mot-cuoc-song-khoe-manh/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Cac phuong phap toi uu giac ngu de co mot cuoc song khoe manh", :src => "/uploads/images/cac-phuong-phap-toi-uu-giac-ngu-de-co-mot-cuoc-song-khoe-manh.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Các phương pháp tối ưu giấc ngủ để có một cuộc sống khỏe mạnh
            .row.course-author
              .col.s12.no-padding Lê Ngọc Diệp
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (2021)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9625
              .col.s6.no-padding.course-price{:style => "text-align:right;"} 99,000đ
    .col.s3
      %a.course{:href => "/courses/lap-trinh-java-can-ban/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Lap trinh java can ban", :src => "/uploads/images/lap-trinh-java-can-ban.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height Lập trình JAVA căn bản
            .row.course-author
              .col.s12.no-padding Tudemy
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (2564)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9511
              .col.s6.no-padding.course-price.red-text{:style => "text-align:right;"} Miễn phí
    .col.s3
      %a.course{:href => "/courses/ppc-pay-per-click-voi-google-adwords-quang-cao-facebook-quang-cao-youtube/detail", :style => "height: 360px"}
        .card-image.course-image
          %img{:alt => "Ppc pay per click voi google adwords quang cao facebook quang cao youtube", :src => "/uploads/images/ppc-pay-per-click-voi-google-adwords-quang-cao-facebook-quang-cao-youtube.png"}
        .card-content.course-content
          .col.s12.no-padding{:style => "height: 122px"}
            .row.course-title
              .col.s12.no-padding.fix-height PPC (Pay-Per-Click) với Google Adwords + Quảng cáo Facebook + Quảng cáo YouTube
            .row.course-author
              .col.s12.no-padding Nguyễn Thị Hải Ngà
          .col.s12.no-padding
            .row.course-rating.no-margin
              .col.s7.course-rating-point.no-padding
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons.is-rated star_rate
                %i.material-icons star_rate
              .col.s5.course-rating-people.no-padding (2747)
            .row
              .col.s6.no-padding.course-favorite
                %span.left
                  %i.material-icons.is-favorite group
                %span.left 9472
              .col.s6.no-padding.course-price{:style => "text-align:right;"} 990,000đ
  .row
    .col.s12
      %a.btn.btn-large.waves-effect{:href => "/courses", :style => "width: 100%; font-size: 24px; font-weight: 500; height: 85px; line-height: 84px;"} Khám phá các khóa học khác
  .row{:style => "text-align: center; margin-bottom: 60px;"}
    %p{:style => "font-size: 48px; margin-bottom: 0;"} Sẵn sàng để làm chủ những kỹ năng mới?
    %p{:style => "font-size: 32px; margin-top: 0;"} Đưa sự nghiệp của bạn lên tầm cao mới!
    %a.btn.modal-trigger.waves-effect.deep-orange{:href => "#modal-register", :style => "height: 70px; line-height: 70px;"} Đăng ký ngay