.hidden-lg
  .row.no-margin
    .col-xs-12.col-sm-12.col-md-12.no-padding
      = render :partial => 'components/header/index'
  .row.no-margin.landingpage
    .col-xs-12.col-ld-12.col-md-12.no-padding
      .row.no-margin.header-box
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %h4.no-margin.header-title Khóa học nào sẽ thay đổi cuộc đời bạn?
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %h5.header-description Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
          %input.form-control{:placeholder => "Tìm một khóa học", :type => "text"}
          %i.fa.fa-search
      .container            
.hidden-xs.hidden-sm.hidden-md