.bold{
  font-weight: bold;
}
.profile-title {
  font-size: 18px;
}
.profile {
  min-width: 320px;
  .profile-left {
    .profile-name {
      margin: 10px 0 15px 0;
    }
    .profile-nav {
      background: transparent !important;
      border-bottom: none;
      margin-bottom: 15px;
      .profile-item-nav {
        float: none !important;
        a {
          color: #338abc !important;
          display: block;
          border-radius: 0;
        }
        a:hover {
          background: #338abc !important;
          color: white !important;
          border-radius: 0;
        }
      }
      .profile-item-nav.active {
        a {
          color: white !important;
          background: #338abc !important;
        }
      }
    }
  }
  .profile-right {
    .profile-label {
      padding: 20px 0;
      background: white;
      border: 1px solid #b6b6b6;
    }
    .profile-avatar {
      .avatar-title {
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .avatar-image {
        padding: 10px;
        border: 1px solid #b6b6b6;
      }
      .avatar-action {
        .avatar-action-title {
          margin: 25px 0 20px 0;
        }
        .avatar-action-choose,.avatar-action-save{
          a{
            display: block;
          }  
        }
        
        .avatar-action-choose {
          a {
            height: 50px;
            line-height: 35px;
            text-transform: none;
            background: #37b34a;
            color: white;
          }
        }
        .avatar-action-save {
          a {
            color: white;
            height: 50px;
            text-transform: none;
            background: #338abc;
            line-height: 35px;
          }
        }
      }
    }
    .profile-form {
      .form-title {
        margin-top: 25px;
      }
      .group-profile-input {
        margin-bottom: 10px;
        position: relative;
        .form-control:valid + .text-placeholder>.after-link {
          display: none;
        }
        .text-placeholder {
          position: absolute;
          left: 0;
          bottom: 4px;
          z-index: -1;
          .pre-link {
            color: #37b34a;
          }
        }
        .profile-button-save {
          background:#338abc;
          color:white;
          height:50px;
          font-size:16px;
          text-transform:none;
          line-height: 25px;
        }
      }      
    }
    .profile-account {
      .profile-account-title {
        margin-top: 25px;
      }
      .group-input-account {
        margin-bottom: 10px;
      }
      .password-save {
        a {
          height:50px;text-transform:none;background:#338abc;line-height:35px;color:white;
        }
        
      }
    }
  }
  @media screen and (max-width: 479px){
    .profile-right {
    .profile-button-save{
      display: block;
    }
    .password-save{
      a {
        display: block;
      }
    }
      .avatar-action-choose {
        a {
          display: block;
        }
      }
      .avatar-action-save {
        a {
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .profile-right {
      .profile-form,.profile-avatar,.profile-account {
        width: 66.6666667%;
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .profile-right {
      .avatar-action {
        margin: 0 24px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .main-profile {
      display: flex;
      height: 710px;
      .profile-top {
        margin-left: 15px;
        border: 1px solid #b6b6b6;
        background: white;
      }
      .profile-bot {
        .profile-right {
          .profile-label {
            margin-left: -16px;
          }
        }
      }
    }
  }

}
  