.lecture { 
  a {
    color: #888888;
    text-decoration: none;
  }
  .visibility-collapse {
    visibility: collapse;
  }
  .lecture-player {
    background-color: #2C2F37;
    .lecture-back {
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      .fa-play-circle {
        -ms-transform: rotate(-180deg); /* IE 9 */
        -webkit-transform: rotate(-180deg); /* Safari */
        transform: rotate(-180deg);
        margin-right: 5px;
        font-size: 18px;
      }
    }
    .lecture-autoplay {
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      .open {
        color: #379a4f;
      }
      .close {
        color: #eb0e0e;
      }
    }
    .lecture-tools {
      list-style: none;
      float: right;
      li {
        float: left;
        color: #fff;
        margin-left: 10px;
        cursor: pointer;
        font-size: 13px;
        i {
          line-height: 60px;
          font-size: 19px;
        }
      }
    
    }
    .player-navigation-back, .player-navigation-next {
      float:left;
      margin-top: 5px;
      width: 110px;
      height: 43px;
      color: #888888;
      text-align: center;
    }
    .player-navigation-back { 
      line-height: 53px;
      background: image-url("lecture-back.png") no-repeat;
    }
    .player-navigation-next {
       background: image-url("lecture-next.png") no-repeat;
       line-height: 37px;
    }
    .player-navigation-back:hover, .player-navigation-next:hover {
      color: #ffffff;
    }
    .rotate {
      transform: rotate(180deg);
      -ms-transform:  rotate(180deg);
      -webkit-transform:  rotate(180deg);
      -moz-transform: rotate(180deg);
    }

    &-main {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  &-container-header {
    height: 40px; 
    background-color: #ffffff;
    .active, li:hover {
      background-color: #338abc;
      i {
        color: #fff !important;
      }
    }
    li {
      width: calc(25% - 1px);
      text-align: center;
      color: #727272;
      font-size: 20px;
      line-height: 35px;
      border-right: 1px solid #b6b6b6;
      a {
        padding: 0px;
        line-height: 40px;
      }
    }
    li:last-child {
      border-right: none;
    }
    i {
      color: #727272;
    }
  }
  .list-lecture {

    padding: 0px 15px;
    .lecture-header {
      height: 80px;
      border-radius: 3px;
      background-color: #727272;
      &-index, &-time {
        font-size: 14px;
      }
      &-name {
        font-size: 16px;
      }
      .fa-play-circle {
        color: #ffffff;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 40px;
        text-indent: 4px;
        margin: 20px;
      }
      ul {
        list-style: none;
        padding-left: 0px;
      }
      ul, ul li {
          float: left;
      }
      &-content {
          color: white;
          margin-top: 7px;
          .px16 {
            line-height: 30px;
          }

      }
    }
    .lecture-progress {

      .progress-title {
        float: left;
        width: 100%;

        &-content {
          list-style: none;
          padding: 0px;
        }
        &-content, &-item {
          float: left;
          margin-right: 4px;
        }
      }
      .trophy {
        text-align: right;
        margin: 5px 0px;
      }
      .progress-container {

        .progress, .progress-finish {
          float:left;
          height: 5px;
          background-color: red;
        }

        .progress {
          width: 94.7%;
          background-color: #b6b6b6;
          .progress-bar {
            background-color: #37b34a;
          }
        }
        .progress-finish {
          width: 5.3%;
          background-color: #fff;
          .finish {
            width: 83.33%;
            height: 100%;
            float: right;
            background-color: #b6b6b6;
          }
        }
      }
    }
    &-container {
      height: calc(100vh - 59px);
      overflow-y: scroll;

      .chap-title{
        background-color: #ededed;
        line-height: 30px;
        margin: 0px;
        padding: 0px 9px;
        font-weight: bold;
        font-size: 14px;
        color: #212121;
      }
      .chap-item {
        margin: 0px;
        background: #fff;
        border-bottom: 1px solid #f0f0f0;
        .item-container {
          margin: 0px;
          border-left: 1px solid #f0f0f0;
          .chap-item-status {
            width: 19px;
            height: 100%;
            .status-container {
              min-width: 1px;
              width: 20px;
              height: 20px;
              padding: 0px;
              margin: 0px;
              border-radius: 20px;
              text-align: center;
              color: #ffffff;
              font-size: 11px;
              line-height: 20px;
              margin-top: 11px;
              margin-left: -10px;
            }
            .completed {
              background-color: #44ba31;
            }
            .learning {
              background-color: #ffbb33;
            }
            .none {
              background-color: #fff;
              border: 1px solid #bfbfbf;
            }
          }
          .chap-item-status, .chap-item-content {
            float: left;
            height: 100%;
            width: calc(100% - 20px);
          }
          .chap-item-content {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #212121;
            font-size: 14px;
            ul {
              margin: 0px 0px 0px 0px;
              float: left;
              list-style: none;
            }
            ul, ul li {
              float: left;
              margin-right: 10px;
              color: #212121
            }
            .type-video, .type-document {
              margin: 3px 0px 0px 0px;
              span, i {
                color: #DDDDDD;
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
      .chap-item:hover {
        background-color: #F1F1F1;
        a {
          color: #212121;
        }
        .item-container {
          .chap-item-content {
            .type-video, .type-document {
              span, i {
                color: #212121;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) { 
  .lecture {
    &-container {
      display: none;
    }
    .lecture-player { 
      .full-screen {
        display: none;
      }
      .lecture-back, .lecture-autoplay {
       line-height: 53px;
      }
      &-header, &-footer {
        height: 53px;
      }
      &-main {
        height: calc(100vh - 106px);
      }
    }
  }
}

@media (min-width: 480px) { 
  .lecture {
    .lecture-player { 
      .lecture-back, .lecture-autoplay {
        line-height: 60px;
      }
      &-header, &-footer {
        height: 60px;
      }
      &-main {
        height: calc(100vh - 120px);
      }
    }
    .list-lecture {
        &-container {
          .chap-item {
            margin: 0px ;
            .item-container {
              margin-left: 18px;
              .chap-item-status {
                width: 19px;
              }
              .chap-item-content {
            
              }
            }
          }
        }
      }
  }
}

@media (min-width: 768px) { 
  .lecture {
    .lecture-player { 
      .full-screen {
        display: block;
      }
    }
    &-container {
      display: block;
    }
  }
}

@media (min-width: 992px) { 
  .lecture {
      .lecture-player { 
        .lecture-back, .lecture-autoplay {
          line-height: 62px;
        }
        &-header, &-footer {
          height: 62px;
        }
        &-main {
          height: calc(100vh - 124px);
        }
      }
     &-container {
      .list-lecture {
        margin: 0px;
      }

    }
  }
}

@media (min-width: 1200px) { 
  .lecture {
    .lecture-player { 
      .lecture-back, .lecture-autoplay {
        line-height: 64px;
      }
      &-header, &-footer {
        height: 64px;
      }
      &-main {
        height: calc(100vh - 128px);
      }
    }
  }
}