%nav.top-nav
  .nav-wrapper
    .row
      .col{:style => 'width: 240px;'}
        %a.btn-sidenav-activator{'data-activates' => 'side-nav'}
          %i.material-icons.left menu
          Danh sách khoá học
      .col.s2
        %a.brand-logo{:href => '/courses', :style => 'position: inherit;'}
          = image_tag 'logo.png', :style => 'vertical-align: middle; padding-bottom: 10px;'
      %form.col.s4{:action => '/courses/search', :method => 'GET', :id => 'search-form'}
        .row
          .input-field.col.s12
            %input#course-search{:type => 'text', :name => 'q', :placeholder => 'Tìm kiếm khoá học'}
            %label{:for => 'course-search'}
              %i.material-icons search
      - if !current_user
        .col.s3.right{:style => 'text-align: right;'}
          .waves-effect.wave-grey.btn-login.modal-trigger{:href => '#modal-login'} Đăng nhập
          .btn.modal-trigger.deep-orange{:href => '#modal-register'} Đăng ký
      - else
        .col.s3.right{:style => 'text-align: right;'}
          / Dropdown Trigger
          %a.dropdown-button{"data-activates" => "user-info-dropdown", :style => 'display: inline-block;'}
            %img{:src => current_user.avatar}
          / Dropdown Structure
          %ul#user-info-dropdown.dropdown-content
            %li
              %a{:href => root_url + "home/my-course/learning"} Các khoá học của tôi
            %li
              %a{:href => "#!"} Hỗ trợ
            %li.divider
            %li
              %a{:href => root_url + "users/sign_out", "data-method" => "delete", :rel => "nofollow"} Đăng xuất
          
